[program:qualityassessment]
directory=/home/{{ ansible_user_id }}/situation-quality-assessment
command=/bin/bash -c "source /home/{{ ansible_user_id }}/.nvm/nvm.sh && npm start"
autostart=true
autorestart=true
user={{ ansible_user_id }}
stdout_logfile=/home/{{ ansible_user_id }}/situation-quality-assessment/stdout.log
stdout_logfile_maxbytes=3MB
stderr_logfile=/home/{{ ansible_user_id }}/situation-quality-assessment/stderr.log
stderr_logfile_maxbytes=3MB
